@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  align-self: center;
}

header {
  display: flex;
  align-items: center;
  background-color: darkmagenta;
  color: #fff;
  padding: 10px;
}

header > h1 {
  flex-grow: 1;
}

header > nav > ul {
  display: flex;
  list-style: none;
}

li > a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f3f3f3;
  padding: 10px;
  margin: 20px 0;
  width: 450px;
  border: 1px solid black;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #fff;
  border: none;
  border: 1px solid black;
  border-radius: 4px;
}